.combinations{
    background-color: #2a2e39;
    min-height: 80vh;
    text-align: center;
    border-radius: 30px;
    padding: 1rem;
    margin: 0 auto;
}

.combTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
    font-size: .8em;
}

.combTable th,
.combTable td {
    /* border-bottom: 1px solid #ddd; */
    border-bottom: 1px solid #646464;
    padding: 8px;
    text-align: center;
}

.combTable th {
    /* background-color: #575757; */
    background-color: #131722;
}

.combTable tr:nth-child(even) {
    /* background-color: #575757; */
    background-color: #131722;
}

caption{
    color:  #c78f97;
    font-size: 1rem;
}


.menu {
    padding: 5px 10px;
}

.menu:hover{
    outline: 1px solid white;
    outline-offset: -1px;
    border-radius: 10px;
    cursor: pointer;
}

.menu_active{
    padding: 5px 10px;
    border-radius: 10px;
    background-color: rgb(126, 126, 126);
}

.list {
    /* width: 70%; */
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    border-bottom: 4px dotted rgb(175, 175, 175);
}


.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #007bff;
}

input:checked + .slider:before {
    transform: translateX(16px);
}


.cards {
    display: none;
    margin-top: 2rem;
}

.card {
    background-color: #2a2e39;
    border: 1px solid #646464;
    border-radius: 10px;
    margin-bottom: 1rem;
    padding: 1.5rem;
    text-align: left;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.cardHeader {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #fff;
}

.cardContent {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    color: #ddd;
}

.cardContent span {
    font-weight: bold;
    color: #fff;
}

.cardAction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; /* Adjust as needed */
}

.gridItem {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-bottom: 4px dotted rgb(175, 175, 175);
}

.selectContainer {
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
  }
  
  .selectContainer span {
    color: #ffffff;
    font-size: .9rem;
    margin-bottom: 10px;
  }
  
  .selectContainer select {
    background-color: #131722;
    color: #ffffff;
    border: none;
    padding: .7rem 1.5rem;
    border-radius: 5px;
    font-size: .9rem;
    outline: none;
  }

  .addSection {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 40%;
    margin: 0 auto;
}
.svgIcon {
    padding-top: 1rem;
    width: 40px;
    height: 30px;
}

.selectContainer {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
}



.selectContainer select {
    background-color: #5D5FEF;
    color: #ffffff;
    border: none;
    padding: .7rem .5rem;
    border-radius: 5px;
    font-size: .9rem;
    outline: none;
}

.selectContainer select option {
    background-color: white;
    color: #2a2e39;
}

/* Media query to hide table and show cards */
@media (max-width: 1080px) {
    .combTable {
        display: none;
    }

    .cards {
        display: block;
    }
}

@media (min-width: 768px) {
    .settingsForm {
        width: 90%;
    }
}

@media (max-width: 560px) {
    .menu {
        display: none;
    }

    .selectContainer {
        display: flex;
    }

    .addSection {
        max-width: 80%;
    }

    .buttonGroup {
        margin: 0.5rem;
    }

    .list {
        display: grid;
        grid-template-columns: 1fr 2fr;
        justify-items: center;
        gap: 1rem;
        grid-gap: 1rem;
        grid-template-columns: 20% 1fr;
        text-align: left; /* Align text to the left for better readability */
        border: none;
    }

    .label,
    .select,
    .input,
    .span,
    .error {
        font-size: 1rem;
    }

    .svgIcon {
        width: 30px;
        height: 20px;
        padding-top: 0;
    }
}