.tradingpairs{
    background-color: #2a2e39;
    min-height: 80vh;
    text-align: center;
    border-radius: 30px;
    padding: 1%;
    margin: 0 auto;
}

.changeByPercent,
.changeByDate{
  cursor:pointer;
}

.longRuleStyle{
  color: #26da26;;
}

.shortRuleStyle{
  color: red;
}

.pairsTable {
    width: 90%;
    border-collapse: collapse;
    margin-top: 2rem;
    margin: 0 auto;
    position: relative;
}

.pairsTable th,
.pairsTable td {
    /* border-bottom: 1px solid #ddd; */
    border-bottom: 1px solid #646464;
    padding: 8px;
    text-align: center;
}

.pairsTable th {
    /* background-color: #575757; */
    background-color: #131722;
}

.pairsTable tr:nth-child(even) {
    /* background-color: #575757; */
    background-color: #131722;
}


.container input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    border-radius: 5px;
   }
   
   .container {
    position: relative;
    font-size: 20px;
    user-select: none;
    border-radius: 5px;
    box-shadow: 2px 2px 0px rgb(183, 183, 183);
   }
   
   /* Create a custom checkbox */
   .checkmark {
    position: relative;
    top: 0;
    left: 40%;
    height: 1.3em;
    width: 1.3em;
    background-color: #ccc;
    border-radius: 5px;
   }
   
   /* When the checkbox is checked, add a blue background */
   .container input:checked ~ .checkmark {
    box-shadow: 3px 3px 0px rgb(183, 183, 183);
    transition: all 0.2s;
    opacity: 1;
    background-image: linear-gradient(45deg, rgb(100, 61, 219) 0%, rgb(217, 21, 239) 100%);
   }
   
   .container input ~ .checkmark {
    transition: all 0.2s;
    opacity: 1;
    box-shadow: 1px 1px 0px rgb(183, 183, 183);
   }
   
   /* Create the checkmark/indicator (hidden when not checked) */
   .checkmark:after {
    content: "";
    position: absolute;
    opacity: 0;
    transition: all 0.2s;
   }
   
   /* Show the checkmark when checked */
   .container input:checked ~ .checkmark:after {
    opacity: 1;
    transition: all 0.2s;
   }
   
   /* Style the checkmark/indicator */
   .container .checkmark:after {
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border: solid white;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
   }

   /* Calendar */

   .calendar {
    padding: 20px;
    max-width: 80%;
    border-radius: 8px;
    margin: .5rem auto;
  }
  
  .buttonsContainer {
    display: flex;
    /* grid-template-columns: repeat(5, 5rem); */
    justify-items: center;
    align-items: start;
    gap: 25px;
    justify-content: center;
  }
  
  .dateButton, .dateActive {
    background-color: #3c9774;
    text-align: center;
    color: white;
    border: 1px transparent;
    /* max-width: 80%; */
    padding: 1.2rem .7rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .timeframeButton, .timeframeActive {
    width: 70px;
    background-color: #3c9774;
    text-align: center;
    color: white;
    border: 1px transparent;
    /* max-width: 80%; */
    padding: 1rem .5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .dateButton:hover,
  .dateButton:active,
  .dateButton:focus,
  .timeframeButton:hover,
  .timeframeButton:active,
  .timeframeButton:focus {
    background-color: #45a049;
  }

  .dateActive, .timeframeActive{
    background-color: #39863d;
    border: 1px solid white;
  }
  

  /* Select */
  
  .selectContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
  }
  
  .selectContainer span {
    color: #ffffff;
    font-size: .9rem;
    margin-bottom: 10px;
  }
  
  .selectContainer select {
    background-color: #131722;
    color: #ffffff;
    border: none;
    width: 70%;
    padding: .7rem 1.5rem;
    border-radius: 5px;
    font-size: .9rem;
    outline: none;
  }


.timestamp {
    font-size: 0.9em;
    color: #aaa;
  }

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
  background-color: #131722;
  border: 1px solid #646464;
  border-radius: 10px;
  margin: 10px;
  padding: 15px;
  width: 100%;
  max-width: 300px;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cardBody {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.cardBody div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dashed #646464;
}


@media (max-width: 1024px) {
  .selectContainer {
    width: 100%;
  }
}